@if (item) {
<div class="wrapper">
  <div class="item">
    <img [src]="item.product.image" [alt]="item.product.title" class="image" />
    <div class="name">
      {{ item.product.title }}
    </div>
    <div class="price">
      <strong>${{ item.product.price.toFixed(2) }}</strong>
    </div>
  </div>
  <section class="controls">
    <span class="remove" (click)="onRemoveItem()">Remove</span>
    <app-quantity-stepper
      [quantity]="item.amount"
      (quantityChange)="onQuantityChange($event)"
    ></app-quantity-stepper>
  </section>
</div>
}
